body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:'Poppins',sans-serif;

background:linear-gradient(135deg,#ff9fb3,#ffc0cb);

overflow:hidden;

text-align:center;

color:#ff2d75;

}



.center{

display:flex;
flex-direction:column;
align-items:center;

}



.hidden{

display:none;

}



.title{

font-size:45px;

font-weight:600;

margin-bottom:20px;

}



.photo{

width:240px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,0.3);

margin-bottom:20px;

}



.buttons{

margin-top:10px;

}



button{

padding:15px 35px;

font-size:20px;

border:none;
border-radius:15px;

cursor:pointer;

margin:10px;

transition:0.2s;

}



#yesBtn{

background:#4CAF50;
color:white;

}



#noBtn{

background:#e74c3c;
color:white;

}



.loveText{

margin-top:15px;

font-size:22px;

color:#b30059;

}



.birthdayTitle{

font-size:60px;

font-family:'Playfair Display',serif;

letter-spacing:2px;

margin-bottom:30px;

}



.bigCake{

width:220px;

margin:20px;

filter:drop-shadow(0px 10px 20px rgba(0,0,0,0.3));

}



.birthdayMsg{

font-size:26px;

max-width:600px;

line-height:1.5;

}



/* القلوب */

.heart{

position:absolute;

font-size:18px;

animation:float 6s linear infinite;

}



@keyframes float{

0%{

transform:translateY(100vh);
opacity:1;

}

100%{

transform:translateY(-10vh);
opacity:0;

}

}